.cta_section {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 9rem 3.5rem;
}

.main_content {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 8rem;
}

.label_container {
  width: 60%;
}

.label {
  width: 70%;
  font-family: "NOHEMI", sans-serif;
  font-size: 3.75rem;
  line-height: 1;
  color: #171717;
}

.p_container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
}

.p {
  width: 60%;
  font-family: "neue montreal", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  color: #111827;
}

/* Responsive */
@media (max-width: 1025px) {
  .cta_section {
    padding: 6rem 0;
  }

  .main_content {
    gap: 2.5rem;
    flex-direction: column;
  }

  .label_container {
    width: 100%;
  }

  .label {
    width: 80%;
  }

  .p_container {
    width: 100%;
  }

  .p {
    width: 30%;
    font-size: 1rem;
  }
}

@media (max-width: 821px) {
}

@media (max-width: 640px) {
  .cta_section {
    padding: 0rem 2rem 7rem 2rem;
  }

  .label {
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: 100%;
  }

  .p {
    width: 70%;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 390px) {
}
