.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  z-index: 9999;
  overflow: hidden;
  opacity: 1;
}

.child {
  width: 100%;
  height: 100vh;
  background-color: #171717;
}

.heading_overflow {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  z-index: 99999;
  color: #fff;
  font-family: "neue montreal", sans-serif;
  font-size: 5rem;
  line-height: normal;
}

/* Responsive Design */
@media (max-width: 620px) {
  .heading {
    font-size: 2.5rem;
  }
}
